@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "slider.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  line-height: 1.6rem; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

:root {
  --shadow: 9px 9px 16px rgb(163 177 198 / 60%),
    -9px -9px 16px rgb(255 255 255 / 50%);
  --small-text: #fc604d;
  --dark-white: #e0e5ec;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--dark-white);
  letter-spacing: 1px;
  display: grid;
  grid-template-rows: 4.5rem auto fit-content(8rem);
  grid-template-areas:
    "header"
    "main"
    "footer";
  row-gap: 1rem;
}
main {
  grid-area: main;
  height: auto;
}

.backdrop {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms ease-out;
}
.show {
  display: block;
}
.open-backdrop {
  opacity: 1;
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 73.5rem;
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1rem;
  width: 100%;
  transition: background-color 300ms ease-in;
}
.back-change {
  background-color: #2c2c2c;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  max-width: 73.5rem;
}

.main-nav__items {
  display: flex;
  list-style: none;
}
.main-header__brand {
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--small-text);
  vertical-align: middle;
}
.main-nav__item {
  color: rgb(84, 85, 33);
}
.main-nav__item a {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  font-size: 0.85rem;
  padding: 0.95rem;
  transition: color 300ms ease-in;
}
.font-change {
  color: #ffffff !important;
}
.mobile-nav {
  transform: translateX(-100%);
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 80%;
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.open {
  display: block;
  transform: translateX(0);
}

#home {
  padding: 7.5rem 0;
  max-height: 37.5rem;
  overflow: hidden;
}
.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}
.toggle-button {
  display: block;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(179, 154, 154);
  overflow: hidden;
  border-radius: 0.5rem;
}
.toggle-button i {
  font-size: 2rem;
  color: var(--small-text);
}

.mobile-nav__item a {
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--small-text);
}

.responsive-nav {
  display: none;
}

.user-qualifications {
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

.user-title {
  font-weight: 700;
  margin: 1rem 0;
  font-size: 2.4rem;
  color: var(--small-text);
  line-height: 1rem;
}
.user {
  text-align: center;
}
.user-description {
  color: var(--small-text);
  font-weight: 400;
  line-height: 1.6rem;
  margin: 0 auto;
  font-size: 0.9rem;
  max-width: 31.25rem;
}
.mouse-animation {
  display: none;
  position: absolute;
  height: 3.2rem;
  width: 2rem;
  border: 2px solid #000;
  border-radius: 3.1rem;
  left: 50%;
  flex-direction: column;
  align-items: center;
  transform: translateY(3rem);
}
.mouse-animation__bar {
  height: 0.6rem;
  width: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 0.3rem;
  background: #000;
  animation: fade_anime 1s infinite ease-out forwards;
}
@keyframes fade_anime {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
#about {
  padding: 3.75rem 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.about-image__container {
  padding: 0 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
.about-image {
  margin: auto;
  background: url(../images/user.jpg);
  min-width: 20rem;
  min-height: 20rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.about-details__container {
  padding: 0 1rem;
  text-align: center;
}

.button {
  display: inline-block;
  color: var(--small-text);
  padding: 0.63rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--dark-white);
  margin-top: 1.25rem;
  border-radius: 30px;
  margin-left: 0.31rem;
  margin-right: 0.31rem;
  font-size: 0.88rem;
  box-shadow: var(--shadow);
}

.about-title {
  padding-top: 1rem;
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 600;
  color: var(--small-text);
}
.about-description {
  line-height: 1.6rem;
  margin: 0;
  font-size: 0.9rem;
  padding-bottom: 1rem;
  color: #666;
}
#services {
  padding: 5rem 0;
  text-align: center;
}
.section-title {
  text-align: center;
  color: #653333;
  font-size: 1.88rem;
  margin-bottom: 3.75rem;
  font-weight: 400;
}
.section-title::after {
  display: block;
  content: "";
  height: 0.375rem;
  width: 3.125rem;
  background: #666;
  margin: auto;
  margin-top: 1.7rem;
}
.section-title::before {
  display: block;
  content: "";
  height: 0.125rem;
  width: 9.38rem;
  background: #666;
  margin: auto;
  transform: translateY(3.5rem);
}
.service-boxes {
  padding: 0 1rem;
}
.box {
  opacity: 0;
  flex-basis: 20.4rem;
  padding: 1.25rem;
  margin-bottom: 1.88rem;
  box-shadow: var(--shadow);
}
.animateEle {
  animation: scroll 1s ease-out 0.2s forwards;
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.box i {
  font-size: 3.125rem;
  height: 5rem;
  padding-top: 0.625rem;
  color: #666;
  transition: transform 0.2s ease-out;
}
.box:is(:hover, :focus) i {
  transform: translateY(-0.6rem);
}

.box-title {
  margin: 1.25rem 0;
  font-size: 1.125rem;
  color: #343434;
}
.box-description {
  font-size: 0.9rem;
  margin: 0 0 0.625rem 0;
  color: #666;
}
.main-footer {
  grid-area: footer;
  padding: 2rem;
  background: #000;
}
.main-footer__items {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.main-footer__item {
  text-align: center;
  color: #fff;
}
#portfolio {
  padding: 5.625rem 0;
}
.dev-skills__container {
  display: flex;
  flex-wrap: wrap;
}
.dev-skills__column {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.dev-skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.375rem;
}
.dev-skill__description span {
  font-size: 1.25rem;
  font-weight: 500;
  color: #666;
  line-height: 1.625rem;
  text-transform: capitalize;
}
.dev-skill__loader {
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1.875rem;
  height: 0.7rem;
  background: var(--dark-white);
  box-shadow: var(--shadow);
}
.dev-skill__progress {
  background: var(--small-text);
  height: 100%;
  width: 90%;
}
.slider {
  width: 100vw;
  max-width: 73.5rem;
  overflow-x: hidden;
}
.slider-items {
  width: 200vw;
  display: grid;
  grid-template-columns: repeat(8, 50%);
}
.slider-item {
  padding: 1rem;
}
@media (min-width: 50rem) {
  .main-header {
    padding: 1rem 0;
  }
  .backdrop {
    display: none;
  }
  .responsive-nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
  .toggle-button {
    display: none;
  }
  .user-qualifications {
    font-size: 3rem;
  }
  .user-title {
    margin: 1rem 0;
    font-size: 4.7rem;
    line-height: 3.5rem;
  }
  .mouse-animation {
    display: flex;
  }
  .back-change {
    background-color: #070707;
  }

  .about-details__container {
    text-align: left;
    width: 55%;
  }
  #about {
    padding: 5.625rem 0;
    flex-direction: row;
  }
  .about-image__container {
    width: 45%;
  }
  .about-title {
    padding-top: 0.63rem;
    line-height: 4.2rem;
    font-size: 3.8rem;
  }
  .section-title {
    margin-bottom: 6.25rem;
  }
  .box {
    margin: 1rem;
    padding: 1.9rem;
  }
  .service-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .dev-skills__column {
    width: 50%;
  }
  .slider-items {
    display: grid;
    grid-template-columns: repeat(8, 25%);
  }
}

@media (max-width: 26rem) {
  .user-title {
    margin: 0.5rem 0;
    font-size: 2rem;
    line-height: 2rem;
  }
}
